<% if (success && success.length) { %>
  <div class="alert alert-success"><%= success[0] %></div>
<% } %>
<a href="/categories/add" class="btn btn-primary mb-3">Add Category</a>
<table class="table table-bordered">
  <thead>
    <tr><th>ID</th><th>Name</th><th>Actions</th></tr>
  </thead>
  <tbody>
     <% i=1  %>
    <% categories.forEach(cat => { %>
      <tr>
        <td><%= i++ %></td>
        <td><%= cat.name %></td>
        <td>
          <a href="/categories/edit/<%= cat.id %>" class="btn btn-sm btn-warning">Edit</a>
          <a href="/categories/delete/<%= cat.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<nav>
  <ul class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav>
