
<form action="/customers/edit/<%= customer.id %>" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" value="<%= customer.name %>" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control" value="<%= customer.email %>">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="phone" class="form-control" value="<%= customer.phone %>">
  </div>
  <div class="form-group">
    <label>Address</label>
    <textarea name="address" class="form-control"><%= customer.address %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
